<head></head>
    <link rel="stylesheet" href="/styles.css">
</head>
<h2>Ticket Statistics</h2>
<ul>
    <li>Total Tickets: <%= totalTickets %></li>
    <li>Open: <%= openTickets %></li>
    <li>In Progress: <%= inProgressTickets %></li>
    <li>Resolved: <%= resolvedTickets %></li>
    <li>Closed: <%= closedTickets %></li>
</ul>
